<div class="card">
    <div class="card-header">
        <strong>{{'addAccessRule' | translate}}</strong>
    </div>
    <div class="card-body">
        <form [formGroup]="Form">
            <div class="form-row">
                <div class="col-md-12">
                    <label for=""> <em class="text-danger">*</em>{{'Name' | translate}}</label>
                    <input type="text" formControlName="name" class="form-control"  
                    [ngClass]="{
                        'input-error':
                          Form.controls.name.touched &&
                          Form.controls.name.invalid
                      }">
                    <em
                    *ngIf="
                      Form.controls.name.touched &&
                      Form.controls.name.errors?.required
                    "
                    class="text-danger"
                  >
                  {{'requiredMsg' | translate}}
                    </em>
                </div>
                <div class="col-md-12 my-3">
                    
                    <label for=""><em class="text-danger">*</em>{{'PermissionType' | translate}}</label>

                    <mat-radio-group aria-label="Select an option" class="mx-3" formControlName="permissionType">
                        <mat-radio-button class="mx-2" value="1">SCREEN</mat-radio-button>
                        <mat-radio-button class="mx-2" value="2">BUTTON</mat-radio-button>
                      </mat-radio-group>

                </div>
                <div class="col-md-12 my-2"  [hidden]="this.Form.controls.permissionType.value == 2">
                    
                    <label for=""><em class="text-danger">*</em>{{'Permissions' | translate}}</label>
                    <ng-multiselect-dropdown
                    [placeholder]="'ChoosePermissions' | translate"
                    [settings]="dropdownSettings"
                    [data]="permissions"
                    formControlName="permission"
                  > </ng-multiselect-dropdown>
                </div>
                <div class="form-row w-100" [hidden]="this.Form.controls.permissionType.value == 1">
                    <div class="col-md-6">
                        
                        <label for="" class="d-block mb-0"><em class="text-danger">*</em>{{'Screen' | translate}}</label>
                        <mat-form-field appearance="fill">
                            <mat-label>Choose Screen</mat-label>
                            <mat-select (ngModelChange)="getScreenButtons()" formControlName="screenId">
                              <mat-option *ngFor="let item of permissions" [value]="item.id">
                                {{item.name}}
                              </mat-option>
                              <mat-option *ngFor="let item of permissions" [value]="item.id">
                                {{item.name}}
                              </mat-option>
                              <mat-option *ngFor="let item of permissions" [value]="item.id">
                                {{item.name}}
                              </mat-option>
                              <mat-option *ngFor="let item of permissions" [value]="item.id">
                                {{item.name}}
                              </mat-option>
                              <mat-option *ngFor="let item of permissions" [value]="item.id">
                                {{item.name}}
                              </mat-option>
                              <mat-option *ngFor="let item of permissions" [value]="item.id">
                                {{item.name}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                    <div class="col-md-6 my-2">
                        
                        <label for=""><em class="text-danger">*</em>{{'Buttons' | translate}}</label>
                        <ng-multiselect-dropdown
                        [placeholder]="'ChooseButtons' | translate"
                        [settings]="dropdownSettings"
                        [data]="permissions"
                        formControlName="buttons"
                      > </ng-multiselect-dropdown>
                    </div>
                </div>
           </div>
           <div class="form-row action-btn-container">
            <button mat-raised-button color="primary" class="w-30"
            (click)="cancel()">
            <mat-icon> cancel_presentation</mat-icon>
            {{'Cancel' | translate}}
           </button>
            <button mat-raised-button color="primary" class="w-30"
             (click)="addRule()" [disabled]="checkDisable()">
             <mat-icon>add_circle</mat-icon> 
             {{'Add' | translate}}
            </button>
        
           </div>
        </form>
    </div>
</div>