<div class="page-wrapper">
	<div class="auth-bg">
		<div class="authentication-box">
			<div class="card mt-4">
				<div class="card-body">
					<div class="text-center">
						<h4>{{'Reset Your Password' | translate}}</h4>
						<div class="d-sm-block text-center">
							{{'Please enter code that you recieved on your email to reset your password' | translate}}
						  </div>
					</div>
					<form class="theme-form my-2" [formGroup]="restPassForm">
						<div class="form-group">
							<div class="form-row col-md-12">
								<em class="text-danger">*</em>
								<label class="col-form-label pt-0">{{'Code' | translate}}</label>
								<input class="form-control" formControlName="secret_code" type="text" placeholder="Enter code" required
								[ngClass]="{'input-error': restPassForm.controls.secret_code.touched &&  restPassForm.controls.secret_code.invalid}">
								<em *ngIf="restPassForm.controls.secret_code.touched && restPassForm.controls.secret_code.errors?.required"
									class="text text-danger mt-1">
									{{'Code is required' | translate}}
								  </em>
							</div>
							<div class="form-row col-md-12 my-2">
								<em class="text-danger">*</em>
								<label class="col-form-label pt-0">{{'New Password' | translate}}</label>
								<input (ngModelChange)="this.restPassForm.controls.confirmPassword.reset()" placeholder="Enter new password" class="form-control" formControlName="password" type="password" required
								[ngClass]="{'input-error': restPassForm.controls.password.touched &&  restPassForm.controls.password.invalid}">
								<em *ngIf="restPassForm.controls.password.touched && restPassForm.controls.password.errors?.required"
									class="text text-danger mt-1">
									{{'Password is required' | translate}}
								  </em>
								  <em *ngIf="restPassForm.controls.password.touched &&
								  restPassForm.controls.password.errors?.pattern" class="text-danger">
								  Password must be at least 8 letters that contain a capital letter, small letter,
								  a symbol and a number
								  </em>
							</div>
							<div class="form-row col-md-12">
								<em class="text-danger">*</em>
								<label class="col-form-label pt-0">{{'Confirm Password' | translate}}</label>
								<input (ngModelChange)="onChange($event)" placeholder="Retype password.." class="form-control" formControlName="confirmPassword" type="password" required
								[ngClass]="{'input-error': restPassForm.controls.confirmPassword.touched &&  restPassForm.controls.confirmPassword.invalid}">
								<em *ngIf="restPassForm.controls.confirmPassword.touched &&
								restPassForm.controls.confirmPassword.errors?.match" class="text-danger">
								{{'The two passwords are not the same' | translate}}
								</em>
							</div>
						</div>

						<div class="form-group form-row mt-3 mb-0">
							<button class="btn btn-primary btn-block btn-lg"
								[disabled]="restPassForm.invalid" (click)="resetPassword(restPassForm.value)"
								type="submit"><span>
									{{'Reset Password' | translate}}

								</span>
							</button>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>