<div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
    <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{"ProjectName" | translate}}
            </mat-panel-title>
            <mat-panel-title>
              {{"Actions" | translate}}
            </mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-expansion-panel *ngFor="let project of projects">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="badge badge-primary">
                {{project.name}}
              </span>
            </mat-panel-title>
            <mat-panel-title>
                <button mat-raised-button color="primary" class="w-30 mx-2" 
                (click)="editProject(project)" *ngIf="share.getBtnGuard('ProjectsList','Update')">
                <mat-icon>edit</mat-icon>
                 {{'Edit' | translate}}
                </button>
                <button mat-raised-button color="accent" class="w-30 " 
                (click)="openDeleteDialog(project.id,'parent',null)" *ngIf="share.getBtnGuard('ProjectsList','Delete')">
                    <mat-icon> cancel_presentation</mat-icon>
                    {{'Delete' | translate}}
                   </button>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-expansion-panel hideToggle *ngFor="let task of project.tasks">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="badge badge-primary">
                  {{task.name}}
                </span>
              </mat-panel-title>
              <mat-panel-title>
                <span class="badge badge-danger">
                  {{task.startDate}}
                </span>
              </mat-panel-title>
              <!-- <mat-panel-title>
                   <mat-icon color="accent" (click)="openDeleteDialog(task.id,'task',project.id)" *ngIf="share.getBtnGuard('ProjectsList','Delete')" > cancel_presentation</mat-icon>
            </mat-panel-title>  -->
            </mat-expansion-panel-header>
          </mat-expansion-panel>
        
        </mat-expansion-panel>
      </mat-accordion>
</div>