<div class="login-page">
    <div class="content">
        <form class="login-form" fxFlex >
            <div class="text-center">
                <h2 class="app-name">Xapp</h2>
                <div class="d-sm-block text-center">
                    <span class="mr-2">{{"Don't have an account?" }}</span>
                    <a routerLink="/register" class="font-size-16 kit__utils__link">
                      {{'Sign up' | translate }}
                    </a>
                  </div>
            </div>
            <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput [placeholder]="'Email' | translate"  [formControl]="email" required>
                        <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput type="password" [placeholder]="'Password' | translate" [formControl]="password" required>
                        <mat-error *ngIf="password.invalid">{{'Password required' | translate}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                  
                    <p style="cursor: pointer; color: blue;" (click)="forgetPassword()">{{'Forget Password ?' | translate}}</p>
                    
                </div>
            </div>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <button mat-raised-button color="primary" class="w-100" (click)="onLogin()" [disabled]="checkDisable()">{{'Login' | translate}}</button>
                </div>
            </div>

        </form>
    </div>
</div>