html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Fontil Sans';
    .input-error{
        border: 2px solid #dc3545;
    }
}

body[main-theme-layout="rtl"]{
    .main-container {
        position: absolute;
        top: 64px;
        left: 0;
        right: 250px;
        bottom: 0;
        padding: 20px;
        text-align: right;
    }
    .action-btn-container{
        float: left;
        margin: 10px 0;
        button{
            margin: 0 10px;
        }
    }
    .mat-dialog-container{
        direction: rtl;
        text-align: right;
    }
    .menu-ul{
        text-align: right;
        padding-right: 10px;

        .ltr-mat-icon{
            display: none;
        }
        .rtl-mat-icon{
            display: inline-block;
        }
        .childernUl{
            padding-right: 0;
        }
    }
}
body[main-theme-layout="ltr"]{
    .main-container {
        position: absolute;
        top: 64px;
        left: 250px;
        right: 0;
        bottom: 0;
        padding: 20px;
        text-align: left;

    }
    .action-btn-container{
        float: right;
        margin: 10px 0;
        button{
            margin: 0 10px;
        }
    }
    .menu-ul{
        text-align: left;
        .rtl-mat-icon{
            display: none;
        }
        .ltr-mat-icon{
            display: inline-block;
        }
    }
}


.mb-20 {
    margin-bottom: 20px;
}
