body[main-theme-layout="rtl"]{
    @media screen and (max-width: 992px) {
        .main-container {
            right: 0px;
        }
    }
}

body[main-theme-layout="ltr"]{
    @media screen and (max-width: 992px) {
        .main-container {
            left: 0px;
        }
    }
    
    @media screen and (max-width: 992px) {
        body.push-right {
            #sidebar {
                left: 0 !important;
            }
        }
    }
}


.visible-lg {
    display: block;
}
.visible-md {
    display: none;
}
.visible-sm {
    display: none;
}
@media screen and (max-width: 992px) {
    .visible-md {
        display: block;
    }
    .visible-lg {
        display: none !important;
    }
}
@media screen and (max-width: 768px) {
    .visible-sm {
        display: block;
    }
    .nav-brand {
        width: 100%;
    }
   .header{
       flex-direction: column;
   }
}
@media screen and (max-width: 768px) {
    .hidden-sm {
        display: none;
    }
}
