body[main-theme-layout="rtl"]{
    @media screen and (max-width: 992px) {
        .main-container {
            right: 0px;
        }
    }
    
    @media screen and (max-width: 992px) {
        .push-right {
            #sidebar {
                right: 0 !important;
            }
        }
    }
}

body[main-theme-layout="ltr"]{
    @media screen and (max-width: 992px) {
        .main-container {
            left: 0px;
        }
    }
    
    @media screen and (max-width: 992px) {
        .push-right {
            #sidebar {
                left: 0 !important;
            }
        }
    }
}