@import 'material';
@import 'main';
@import 'utils';
@import 'responsive';

.iti{
    width: 100%;
}

textarea{
    resize: none;
}

.disabled{
    pointer-events: none;
    user-select: none;
    opacity: 0.5;
}
.w-100 {
    width: 100%;
}
.mt-10{
    margin-top: 10px;
}
mat-icon{
    // color: #3f51b5;
    cursor: pointer;
    vertical-align: middle;

}
em{
    color: #f44336;
}

table {
    width: 100%;
}
.mat-card {
    text-align: center;
    img {
        border-radius: 5px;
        margin-top: -25px;
    }
}
.mat-table {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);
        img{
            border-radius: 50%;
            padding: 20px 0;
            max-width: 100%;
        }
}

.mat-dialog-actions{
    width: 100%;
    justify-content: end;
}

@media screen and (max-width: 500px) {
    .login-form{
        width: 350px !important;
    }
}
.cursor-pointer{
    cursor: pointer;
}

.multiselect-dropdown .dropdown-btn .selected-item-container .selected-item{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header{
    box-shadow: 0 0 6px #ccc;
    padding: 10px;
    border-radius: 6px;
}

ul{
    list-style: none;
}