<div class="card">
    <div class="card-header">
        <strong>{{"AddProjectAndItsTasks" | translate }}</strong>
    </div>
    <div class="card-body">
        <form [formGroup]="projectsForm">
            <ng-container formArrayName="projects">
              <section class="col-md-10 categories-grid" *ngFor="let p of projects().controls ; let projectIndex = index">
                <ng-container [formGroupName]="projectIndex">
                    <section class="col-md-12">
                        <div class="row">
                          <div class="counter">
                            <strong>{{projectIndex+1}}</strong>
                          </div>
                          <div class="col-md-6">
                            <em class="text-danger">*</em>
                            <label for="name">{{'Name' | translate}}</label>
                            <input
                              type="text"
                              class="form-control"
                              id="name"
                              placeholder="Enter project name"
                              formControlName="projectName"
                            />
                          </div>
                          <div class="col-md-4">
                            <label for="category" class="d-block">
                            <em class="text-danger">*</em>
                              {{'Category' | translate}}</label>
                           <div class="btn-group" dropdown #dropdown="bs-dropdown" [autoClose]="false">
                             <button id="button-basic" dropdownToggle type="button" 
                                class="btn btn-light dropdown-toggle"
                                aria-controls="dropdown-basic">
                                <span>{{ p.value.categoryName}}</span> 
                             </button>
                             <ul  id="dropdown-basic" *dropdownMenu class="dropdown-menu" 
                                role="menu" aria-labelledby="button-basic">
                               <li (click)="setParentSelectedCategory(p,category,projectIndex)" *ngFor="let category of categories">
                                 <mat-icon class="ltr-mat-icon" [class.visibity-none]="category.sub.length === 0"  (click)="category.collapsed=true" [hidden]="category.collapsed">keyboard_arrow_right</mat-icon>
                                <mat-icon *ngIf="category.sub && category.collapsed"  (click)="category.collapsed=false" >keyboard_arrow_down</mat-icon>
                                <span class="name"> {{category.name}}</span> 
                                 <div *ngIf="category.sub && category.collapsed">
                                   <ul *ngFor="let sub of category.sub" >
                                     <li (click)="setSelectedCategory(p,sub,$event,projectIndex)"> <span class="name"> {{sub.name}}</span> 
                                     </li>
                                   </ul>
 
                                 </div>
                               </li>
 
                              
                             </ul>
                             
                           </div>
                          </div>
                          <div class="col-md-2 buttons">
                                 <mat-icon (click)="addProject(projectIndex+1)" class="addIcon">add_circle</mat-icon> 
                              
                                  <mat-icon  (click)="deleteProject(projectIndex)" [class.disabled]="p.value.id !== null" class="deleteIcon">delete_forever</mat-icon>
              
                            
                          </div>


                          <div class="col-md-10">
                            <label for="description">{{'Description' | translate}}</label>
                            <textarea
                             class="my-1"
                              rows="3"
                              cols="30"
                              type="text"
                              class="form-control"
                              id="description"
                              placeholder="Enter Project description"
                              formControlName="description"></textarea>
                          </div>
                        </div>
                     </section>
                     <ng-container formArrayName="tasks">
                      <section class="col-md-10 child"  *ngFor="let task of tasks(projectIndex).controls; let taskIndex=index">
                          <div class="row">
                              <ng-container [formGroupName]="taskIndex">
                                <div class="counter">
                                  <strong>{{taskIndex+1}}</strong>
                                </div>
                                <div class="col-md-9 my-1">
                                  <label for=""> <em class="text-danger">*</em>{{'Title' | translate}}</label>
                                  <input type="text" formControlName="taskTitle" class="form-control">
                              </div>
                              <div class="col-md-3 buttons">
                                <mat-icon (click)="addTask(projectIndex)" class="addIcon">add_circle</mat-icon> 
                          
                                <mat-icon  (click)="deleteTask(projectIndex,taskIndex)" [class.disabled]="task.value.id !== null" class="deleteIcon">delete_forever</mat-icon>
            
                              </div>
                     
                              <!-- <div class="col-md-6 my-1">
                                  <label for="project">{{'Project' | translate}}</label>
                                  <select class="form-control" name="project" id="project" formControlName="project">
                                      <option value="" disabled selected hidden>{{'select' | translate}}</option>
                                      <option [value]="item.id" *ngFor="let item of projectsArr">{{item.name}}</option>
                                  </select>
                           
                              </div>     -->

                              <div class="col-md-6 my-1">
                                <label for="type"><em class="text-danger">*</em> {{'Type' | translate}}</label>
                                <select class="form-control" name="type" id="type" formControlName="type">
                                    <option value="" disabled selected hidden>{{'select' | translate}}</option>
                                    <option [value]="item.id" *ngFor="let item of types">{{item.lookupDetailName}}</option>
                                </select>
                         
                            </div>    
                            <div class="col-md-6 my-1">
                                <label for="currency"> <em class="text-danger">*</em> {{'Currency' | translate}}</label>
                                <select class="form-control" name="currency" id="currency" formControlName="currency">
                                    <option value="" disabled selected hidden>{{'select' | translate}}</option>
                                    <option [value]="item.id" *ngFor="let item of currencies">{{item.lookupDetailName}}</option>
                                </select>
                         
                            </div>    
                            <div class="col-md-6 my-1">
                                <label for="price"> <em class="text-danger">*</em> {{'Price' | translate}}</label>
                                <input type="number" class="form-control" name="price" id="price" formControlName="price">
                            </div>
                              <div class="col-md-6 my-1">
                                <label for="assignedTo">{{'AssignedTo' | translate}}</label>
                                <select class="form-control" name="assignedTo" id="assignedTo" formControlName="assignedTo">
                                    <option value="" disabled selected hidden>{{'select' | translate}}</option>
                                    <option [value]="item.id" *ngFor="let item of projectsArr">{{item.projectName}}</option>
                                </select>
                              </div>   
                              <div class="col-md-6 my-1">
                                   <mat-form-field appearance="fill">
                                    <mat-label><em class="text-danger">*</em> Start date</mat-label>
                                    <input matInput [matDatepicker]="startDate" formControlName="startDate" 
                                    [min]="getToday()" [max]="task.value.endDate">
                                    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                                    <mat-datepicker #startDate></mat-datepicker>
                                  </mat-form-field>
                              </div>    
                              <div class="col-md-6 my-1">
                                  <mat-form-field appearance="fill">
                                    <mat-label>End date</mat-label>
                                    <input matInput [matDatepicker]="endDate" formControlName="endDate"  [min]="task.value.startDate">
                                    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                                    <mat-datepicker #endDate></mat-datepicker>
                                  </mat-form-field>
      
                              </div>
                              <div class="col-md-12 my-1">
                                <label for="description">{{'Description' | translate}}</label>
                                <textarea placeholder="Ex. It makes me feel..."  class="form-control" id="description"
                                formControlName="description" cols="30" rows="3"></textarea>
                               </div>       
                              <div class="col-md-12 my-1">
                                 <input type="file" name="files" id="files" class="form-control p-2" 
                                 [disabled]="checkUploadFilesDisabled(task.value.taskTitle,task.value.startDate)" multiple
                                 (change)="getFiles($event,task.value.taskTitle,task.value.startDate)" >
                               </div>       
            
                              
                              </ng-container>
                          </div>
                      </section>
                    </ng-container>
                </ng-container>
              </section>
          </ng-container>
          <div class="form-row action-btn-container">
            <button mat-raised-button color="primary" class="w-30"
            (click)="cancel()">
            <mat-icon> cancel_presentation</mat-icon>
            {{'Cancel' | translate}}
           </button>
            <button mat-raised-button color="primary" class="w-30"
             (click)="submitForm()" [disabled]="checkDisable()">
             <mat-icon>add_circle</mat-icon> 
             {{'Save' | translate}}
            </button>
        
           </div>
            </form>
    </div>
</div>

    