<div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
    <div fxFlex>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element;let i = index;"> {{i+1}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="text-center">Actions </th>
                <td mat-cell *matCellDef="let element" class="text-center">    
                
                    <button mat-raised-button color="primary" class="w-30 mx-2" (click)="editRoles(element)">
                    <mat-icon>edit</mat-icon>
                     {{'Edit' | translate}}
                    </button>
                    <button mat-raised-button color="accent" class="w-30 " (click)="openDeleteDialog(element.id)">
                        <mat-icon> cancel_presentation</mat-icon>
                        {{'Delete' | translate}}
                       </button>
                </td>
            </ng-container>
            <ng-container matColumnDef="permissions">
                <th mat-header-cell *matHeaderCellDef> Permissions </th>
                <td mat-cell *matCellDef="let element"> 
                    <ol>
                        <li *ngFor="let p of element.permissions">
                            <mat-icon *ngIf="p.permissionType == 1">screen_lock_landscape</mat-icon>
                            <mat-icon  *ngIf="p.permissionType == 2"> edit_attributes</mat-icon>
                            <span *ngIf="p.permissionType == 1"> {{p.permissionName}} {{p.permissionTypeName}} </span>   
                            <span *ngIf="p.permissionType == 2"> {{p.permissionName}} {{p.permissionTypeName}} in {{p.screenName}} Screen</span>   
                            </li>
                    </ol>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator  [pageSizeOptions]="[5, 10, 20]"
           showFirstLastButtons 
           aria-label="Select page of periodic elements">
       </mat-paginator>
    </div>
</div>

