<div id="sidebar">
    <mat-nav-list>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/users']">
            <mat-icon class="users-icon">people</mat-icon> Users
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/user']">
            <mat-icon class="user-icon">people</mat-icon> One User
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/cud']">
            <mat-icon class="sidenav-icon">people</mat-icon> Crud
        </a>
    </mat-nav-list>
</div>
