<div class="register-page">
    <div class="content">
        <form class="register-form" fxFlex  [formGroup]="RegisterForm">
            <div class="text-center">
                <h2 class="app-name">Xapp</h2>
                <div class="d-sm-block text-center">
                    <span class="mr-2">{{"Have an account?" }}</span>
                    <a routerLink="/login" class="font-size-16 kit__utils__link">
                      {{'Login' | translate }}
                    </a>
                  </div>
            </div>
            <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
                <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
                    <div fxFlexFill>
                        <mat-form-field class="w-100">
                            <input matInput placeholder="Your name" formControlName="name"  required>
                            <mat-error *ngIf="RegisterForm.controls.name.invalid">{{'requiredMsg' | translate}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Your email" formControlName="email" required>
                        <mat-error *ngIf="RegisterForm.controls.email.errors?.required">{{'requiredMsg' | translate}}</mat-error>
                        <mat-error *ngIf="RegisterForm.controls.email.errors?.pattern">{{'emailVaidationErrorMsg' | translate}}</mat-error>

                    </mat-form-field>
                </div>
            </div>
    
            <!-- <div>
                <ngx-intl-tel-input inputId="phone"
                enableAutoCountrySelect="true" enablePlaceholder="true" searchCountryFlag="true"
                   phoneValidation="true" separateDialCode="true" maxLength="9" name="phone" formControlName="phone">
               </ngx-intl-tel-input>

            </div> -->
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput type="string" placeholder="Your phone" formControlName="phoneNumber"  required>
                        <mat-error *ngIf="RegisterForm.controls.phoneNumber.errors?.required">{{'requiredMsg' | translate}}</mat-error>
                        <mat-error *ngIf="RegisterForm.controls.phoneNumber.errors?.pattern">{{'phoneVaidationErrorMsg' | translate}}</mat-error>
                        
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Your password" formControlName="password"  required>
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="RegisterForm.controls.password.errors?.required">{{'requiredMsg' | translate}}</mat-error>
                        <mat-error *ngIf="RegisterForm.controls.password.errors?.pattern">{{'passwordVaidationErrorMsg' | translate}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Retype your password" [formControl]="confirmPassword" required>
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="confirmPassword.errors?.required">{{'requiredMsg' | translate}}</mat-error>
                        <mat-error *ngIf="confirmPassword.errors?.match">{{'passwordMatchigErrorMsg' | translate}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <button mat-raised-button color="primary" class="w-100" (click)="onRegister()" [disabled]="checkDisable()">Register</button>
                </div>
            </div>

        </form>
    </div>
</div>